<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Team</title>
    <script src="/static/firebase-login.js"></script>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>Add a Team</h1>
    <form id="add-team-form">
        <label for="team-name">Team Name:</label>
        <input type="text" id="team-name" required>
        <label for="year-founded">Year Founded:</label>
        <input type="number" id="year-founded" required>
        <label for="constructor-titles">Total Constructor Titles:</label>
        <input type="number" id="constructor-titles" required>
        <label for="pole-positions-team">Total Pole Positions:</label>
        <input type="number" id="pole-positions-team" required>
        <label for="race-wins">Total Race Wins:</label>
        <input type="number" id="race-wins" required>
        <label for="previous-position">Finishing Position Last Season:</label>
        <input type="number" id="previous-position" required>
        <button type="button" onclick="addTeam()">Add Team</button>
    </form>
    <br>
    <button onclick="location.href='/login'">Back to Home</button>
</body>
</html>
